<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>org.foodresearch.crowd.collect</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>众包公开笔记采集</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>org.foodresearch.crowd.join</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>foodcrowd</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>40000</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
